.drone .post img {
	position: absolute;
	top: 30px;
	left: -140px;
	height: 164px;
	width: 294px;
	opacity: 0.5;
}
.drone .post {
	overflow: hidden;
	padding-left: 160px;
}

body {
	background: #eee;
}

div.container img.name {
	display: block;
	width: 442px;
	height: 73px;
	margin-left: auto;
	margin-right: auto;
}

div.container img.city1 {
	position: absolute;
	right: 0px;
	width: 372px;
	height: 500px;
	top: 1125px;
}

div.container img.city2 {
	position: absolute;
	left: 0px;
	width: 372px;
	height: 500px;
	top: 1125px;
}

div.container img.green1 {
	left: 180px;
	position: fixed;
	top: 430px;
	z-index: 999;
}

div.container img.green2 {
	right: 190px;
	position: fixed;
	top: 580px;
	z-index: 999;
}

div.container img.red1 {
	left: 75px;
	position: fixed;
	top: 530px;
	z-index: 999;
}

div.container img.red2 {
	right: 80px;
	position: fixed;
	top: 680px;
	z-index: 999;
}
